<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ca.mfd.prc.pqs.mapper.IPqsQualityGateTcMapper">

    <resultMap type="com.ca.mfd.prc.pqs.entity.PqsQualityGateTcEntity" id="pqsQualityGateTcMap">
        <result property="id" column="PRC_PQS_QUALITY_GATE_TC_ID"/>
        <result property="prcPqsQualityGateId" column="PRC_PQS_QUALITY_GATE_ID"/>
        <result property="model" column="MODEL"/>
        <result property="modelName" column="MODEL_NAME"/>
    </resultMap>


</mapper>