<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ca.mfd.prc.pqs.mapper.IPqsQualityMatrikWorkstationMapper">

    <resultMap type="com.ca.mfd.prc.pqs.entity.PqsQualityMatrikWorkstationEntity" id="pqsQualityMatrikWorkstationMap">
        <result property="id" column="PRC_PQS_QUALITY_MATRIK_WORKSTATION_ID"/>
        <result property="prcPqsQualityMatrikId" column="PRC_PQS_QUALITY_MATRIK_ID"/>
        <result property="workstationCode" column="WORKSTATION_CODE"/>
        <result property="workstationName" column="WORKSTATION_NAME"/>
    </resultMap>


</mapper>