<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ca.mfd.prc.pqs.mapper.IPqsPlanTriggerTypeMapper">

    <resultMap type="com.ca.mfd.prc.pqs.entity.PqsPlanTriggerTypeEntity" id="pqsPlanTriggerTypeMap">
        <result property="id" column="PRC_PQS_PLAN_TRIGGER_TYPE_ID"/>
        <result property="triggerTypeCode" column="TRIGGER_TYPE_CODE"/>
        <result property="triggerTypeName" column="TRIGGER_TYPE_NAME"/>
        <result property="remark" column="REMARK"/>
    </resultMap>


</mapper>