<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ca.mfd.prc.pqs.mapper.IPqsProductMmLockPolicyMapper">

    <resultMap type="com.ca.mfd.prc.pqs.entity.PqsProductMmLockPolicyEntity" id="pqsProductMmLockPolicyMap">
        <result property="id" column="PRC_PQS_PRODUCT_MM_LOCK_POLICY_ID"/>
        <result property="workstationCode" column="WORKSTATION_CODE"/>
        <result property="workstationName" column="WORKSTATION_NAME"/>
        <result property="category" column="CATEGORY"/>
        <result property="blockNote" column="BLOCK_NOTE"/>
        <result property="materialNo" column="MATERIAL_NO"/>
        <result property="materialName" column="MATERIAL_NAME"/>
        <result property="lotNo" column="LOT_NO"/>
        <result property="enabled" column="ENABLED"/>
    </resultMap>


</mapper>