<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ca.mfd.prc.pqs.mapper.IPqsTechnologyAlarmPolicyMapper">

    <resultMap type="com.ca.mfd.prc.pqs.entity.PqsTechnologyAlarmPolicyEntity" id="pqsTechnologyAlarmPolicyMap">
        <result property="id" column="PRC_PQS_TECHNOLOGY_ALARM_POLICY_ID"/>
        <result property="policyNo" column="POLICY_NO"/>
        <result property="controlProperty" column="CONTROL_PROPERTY"/>
        <result property="aera" column="AERA"/>
        <result property="pointCode" column="POINT_CODE"/>
        <result property="yzd" column="YZD"/>
        <result property="pdyg" column="PDYG"/>
        <result property="tcd" column="TCD"/>
        <result property="rpn" column="RPN"/>
        <result property="overproofAlarm" column="OVERPROOF_ALARM"/>
        <result property="isStop" column="IS_STOP"/>
        <result property="counter" column="COUNTER"/>
        <result property="isEnabled" column="IS_ENABLED"/>
        <result property="handleMethod" column="HANDLE_METHOD"/>
        <result property="remark" column="REMARK"/>
    </resultMap>


</mapper>