<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ca.mfd.prc.pqs.mapper.IPqsQualityGateBlankMapper">

    <resultMap type="com.ca.mfd.prc.pqs.entity.PqsQualityGateBlankEntity" id="pqsQualityGateBlankMap">
        <result property="id" column="PRC_PQS_QUALITY_GATE_BLANK_ID"/>
        <result property="prcPqsQualityGateId" column="PRC_PQS_QUALITY_GATE_ID"/>
        <result property="blockType" column="BLOCK_TYPE"/>
        <result property="blockHeight" column="BLOCK_HEIGHT"/>
        <result property="blockWidth" column="BLOCK_WIDTH"/>
        <result property="blockTop" column="BLOCK_TOP"/>
        <result property="blockLeft" column="BLOCK_LEFT"/>
        <result property="blockJson" column="BLOCK_JSON"/>
    </resultMap>


</mapper>