<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ca.mfd.prc.pqs.mapper.IPqsProductDefectBlockLogMapper">

    <resultMap type="com.ca.mfd.prc.pqs.entity.PqsProductDefectBlockLogEntity" id="pqsProductDefectBlockLogMap">
        <result property="id" column="PRC_PQS_PRODUCT_DEFECT_BLOCK_LOG_ID"/>
        <result property="category" column="CATEGORY"/>
        <result property="workstationCode" column="WORKSTATION_CODE"/>
        <result property="workstationName" column="WORKSTATION_NAME"/>
        <result property="blockNote" column="BLOCK_NOTE"/>
        <result property="defectAnomalyCode" column="DEFECT_ANOMALY_CODE"/>
        <result property="defectAnomalyDescription" column="DEFECT_ANOMALY_DESCRIPTION"/>
        <result property="blockDt" column="BLOCK_DT"/>
    </resultMap>


</mapper>