<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ca.mfd.prc.pqs.mapper.IPqsDefectAnomalyWpMapper">

    <resultMap type="com.ca.mfd.prc.pqs.entity.PqsDefectAnomalyWpEntity" id="pqsDefectAnomalyWpMap">
        <result property="id" column="PRC_PQS_DEFECT_ANOMALY_WP_ID"/>
        <result property="workstationCode" column="WORKSTATION_CODE"/>
        <result property="workstationName" column="WORKSTATION_NAME"/>
        <result property="defectAnomalyCode" column="DEFECT_ANOMALY_CODE"/>
        <result property="defectAnomalyDescription" column="DEFECT_ANOMALY_DESCRIPTION"/>
        <result property="shortCode" column="SHORT_CODE"/>
    </resultMap>


</mapper>