<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ca.mfd.prc.bdc.mapper.IRcBdcRoutePublishLogMapper">

    <resultMap type="com.ca.mfd.prc.bdc.entity.RcBdcRoutePublishLogEntity" id="rcBdcRoutePublishLogMap">
        <result property="id" column="PRC_BDC_ROUTE_PUBLISH_LOG_ID"/>
        <result property="bufferCode" column="BUFFER_CODE"/>
        <result property="sn" column="SN"/>
        <result property="displayNo" column="DISPLAY_NO"/>
        <result property="beginDt" column="BEGIN_DT"/>
        <result property="endDt" column="END_DT"/>
    </resultMap>


</mapper>