<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ca.mfd.prc.rc.rcps.mapper.IRcPsRouteMovingMachineMapper">

    <resultMap type="com.ca.mfd.prc.rc.rcps.entity.RcPsRouteMovingMachineEntity" id="rcPsRouteMovingMachineMap">
        <result property="id" column="PRC_RC_PS_ROUTE_MOVING_MACHINE_ID"/>
        <result property="prcRcPsRouteAreaId" column="PRC_RC_PS_ROUTE_AREA_ID"/>
        <result property="prcRcPsRoutePointId" column="PRC_RC_PS_ROUTE_POINT_ID"/>
        <result property="movingMachineCode" column="MOVING_MACHINE_CODE"/>
        <result property="movingMachineName" column="MOVING_MACHINE_NAME"/>
        <result property="movingMachineType" column="MOVING_MACHINE_TYPE"/>
        <result property="laneCodeHome" column="LANE_CODE_HOME"/>
        <result property="laneCode" column="LANE_CODE"/>
    </resultMap>
</mapper>