<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ca.mfd.prc.rc.rcps.mapper.IRcPsRoutePublishMapper">
    <resultMap type="com.ca.mfd.prc.rc.rcps.entity.RcPsRoutePublishEntity" id="rcPsRoutePublishMap">
        <result property="id" column="PRC_RC_PS_ROUTE_PUBLISH_ID"/>
        <result property="bufferCode" column="BUFFER_CODE"/>
        <result property="sn" column="SN"/>
        <result property="displayNo" column="DISPLAY_NO"/>
        <result property="beginDt" column="BEGIN_DT"/>
    </resultMap>
</mapper>