<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ca.mfd.prc.rc.rcps.mapper.IRcPsRouteCacheMapper">

    <resultMap type="com.ca.mfd.prc.rc.rcps.entity.RcPsRouteCacheEntity" id="rcPsRouteCacheMap">
        <result property="id" column="PRC_RC_PS_ROUTE_CACHE_ID"/>
        <result property="prcRcPsRouteAreaId" column="PRC_RC_PS_ROUTE_AREA_ID"/>
        <result property="prcRcPsRouteLaneId" column="PRC_RC_PS_ROUTE_LANE_ID"/>
        <result property="laneCode" column="LANE_CODE"/>
        <result property="sn" column="SN"/>
        <result property="displayNo" column="DISPLAY_NO"/>
        <result property="beginDt" column="BEGIN_DT"/>
    </resultMap>


</mapper>