<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ca.mfd.prc.rc.rcavi.mapper.IRcAviPolicyMapper">
    <resultMap type="com.ca.mfd.prc.rc.rcavi.entity.RcAviPolicyEntity" id="rcAviPolicyMap">
        <result property="id" column="PRC_RC_AVI_POLICY_ID"/>
        <result property="prcRcAviRouteAreaId" column="PRC_RC_AVI_ROUTE_AREA_ID"/>
        <result property="policyCode" column="POLICY_CODE"/>
        <result property="policyName" column="POLICY_NAME"/>
        <result property="displayNo" column="DISPLAY_NO"/>
    </resultMap>

</mapper>