<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ca.mfd.prc.rc.rcavi.mapper.IRcAviPolicyRuleCacheMapper">

    <resultMap type="com.ca.mfd.prc.rc.rcavi.entity.RcAviPolicyRuleCacheEntity" id="rcAviPolicyRuleCacheMap">
        <result property="id" column="PRC_RC_AVI_POLICY_RULE_CACHE_ID"/>
        <result property="prcRcAviRouteAreaId" column="PRC_RC_AVI_ROUTE_AREA_ID"/>
        <result property="prcRcAviRoutePointId" column="PRC_RC_AVI_ROUTE_POINT_ID"/>
        <result property="prcRcAviPolicyRuleId" column="PRC_RC_AVI_POLICY_RULE_ID"/>
        <result property="paramValue" column="PARAM_VALUE"/>
        <result property="dynamicValue" column="DYNAMIC_VALUE"/>
        <result property="reqNo" column="REQ_NO"/>
    </resultMap>

</mapper>