<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ca.mfd.prc.eps.mapper.IEpsSpareConfigMapper">

    <resultMap type="com.ca.mfd.prc.eps.entity.EpsSpareConfigEntity" id="epsSpareConfigMap">
        <result property="id" column="PRC_EPS_SPARE_CONFIG_ID"/>
        <result property="lineName" column="LINE_NAME"/>
        <result property="lineCode" column="LINE_CODE"/>
        <result property="materialName" column="MATERIAL_NAME"/>
        <result property="materialCode" column="MATERIAL_CODE"/>
        <result property="queueCode" column="QUEUE_CODE"/>
    </resultMap>


</mapper>