<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ca.mfd.prc.eps.mapper.IEpsModuleMaterialReadConfigMapper">

    <resultMap type="com.ca.mfd.prc.eps.entity.EpsModuleMaterialReadConfigEntity" id="epsModuleMaterialReadConfigMap">
        <result property="id" column="PRC_EPS_MODULE_MATERIAL_READ_CONFIG_ID"/>
        <result property="lineCode" column="LINE_CODE"/>
        <result property="workstationCode" column="WORKSTATION_CODE"/>
        <result property="plcConnect" column="PLC_CONNECT"/>
        <result property="plcDb" column="PLC_DB"/>
    </resultMap>


</mapper>