<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ca.mfd.prc.eps.mapper.IEpsModuleInboxLocationConfigMapper">

    <resultMap type="com.ca.mfd.prc.eps.entity.EpsModuleInboxLocationConfigEntity" id="epsModuleInboxLocationConfigMap">
        <result property="id" column="PRC_EPS_MODULE_INBOX_LOCATION_CONFIG_ID"/>
        <result property="lineCode" column="LINE_CODE"/>
        <result property="gelatinizeWorkstationCode" column="GELATINIZE_WORKSTATION_CODE"/>
        <result property="inboxWorkstationCode" column="INBOX_WORKSTATION_CODE"/>
        <result property="routeSign" column="ROUTE_SIGN"/>
    </resultMap>


</mapper>