<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ca.mfd.prc.eps.mapper.IEpsHkskVisuallyCheckDataMapper">

    <resultMap type="com.ca.mfd.prc.eps.entity.EpsHkskVisuallyCheckDataEntity" id="epsHkskVisuallyCheckDataMap">
        <result property="id" column="PRC_EPS_HKSK_VISUALLY_CHECK_DATA_ID"/>
        <result property="barcode" column="BARCODE"/>
        <result property="workstationCode" column="WORKSTATION_CODE"/>
        <result property="no" column="NO"/>
        <result property="defectCode" column="DEFECT_CODE"/>
        <result property="checkDt" column="CHECK_DT"/>
        <result property="fileUrl" column="FILE_URL"/>
    </resultMap>


</mapper>