<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ca.mfd.prc.eps.mapper.IEpsBodyshopJobConfigMapper">

    <resultMap type="com.ca.mfd.prc.eps.entity.EpsBodyshopJobConfigEntity" id="epsBodyshopJobConfigMap">
        <result property="id" column="PRC_EPS_BODYSHOP_JOB_CONFIG_ID"/>
        <result property="vehicleModel" column="VEHICLE_MODEL"/>
        <result property="featureCode" column="FEATURE_CODE"/>
        <result property="stateCode" column="STATE_CODE"/>
        <result property="description" column="DESCRIPTION"/>
    </resultMap>


</mapper>