<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ca.mfd.prc.core.prm.mapper.IPrmAuthorizeMapper">

    <resultMap type="com.ca.mfd.prc.core.prm.entity.PrmAuthorizeEntity" id="prmAuthorizeMap">
        <result property="id" column="PRC_PRM_AUTHORIZE_ID"/>
        <result property="prcPrmUserId" column="PRC_PRM_USER_ID"/>
        <result property="app" column="APP"/>
        <result property="name" column="NAME"/>
        <result property="ipAddress" column="IP_ADDRESS"/>
        <result property="module" column="MODULE"/>
        <result property="permission" column="PERMISSION"/>
        <result property="authorizeDt" column="AUTHORIZE_DT"/>
    </resultMap>


</mapper>