<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ca.mfd.prc.core.prm.mapper.IPrmUserRoleMapper">

    <resultMap type="com.ca.mfd.prc.core.prm.entity.PrmUserRoleEntity" id="prmUserRoleMap">
        <result property="prcPrmUserId" column="PRC_PRM_USER_ID"/>
        <result property="prcPrmRoleId" column="PRC_PRM_ROLE_ID"/>
    </resultMap>


    <select id="getRoleMsgs" resultType="com.ca.mfd.prc.core.prm.dto.UserRoleMsg">
        SELECT BB.ROLE_NAME as name
        FROM PRC_PRM_USER_ROLE AA
                 LEFT JOIN PRC_PRM_ROLE BB ON AA.PRC_PRM_ROLE_ID = BB.PRC_PRM_ROLE_ID
        WHERE AA.PRC_PRM_USER_ID = #{userId}
          AND AA.IS_DELETE = 0
          AND BB.IS_DELETE = 0
    </select>

    <select id="getRolePermissions" resultType="com.ca.mfd.prc.core.prm.dto.UserRoleMsg">
        SELECT DISTINCT DD.PERMISSION_CODE AS NAME
        FROM PRC_PRM_USER_ROLE AA
                 LEFT JOIN PRC_PRM_ROLE BB ON AA.PRC_PRM_ROLE_ID = BB.PRC_PRM_ROLE_ID
                 INNER JOIN PRC_PRM_ROLE_PERMISSION CC ON AA.PRC_PRM_ROLE_ID = CC.PRC_PRM_ROLE_ID
                 INNER JOIN PRC_PRM_PERMISSION DD ON CC.PRC_PRM_PERMISSION_ID = DD.PRC_PRM_PERMISSION_ID
        WHERE AA.PRC_PRM_USER_ID = #{userId}
          AND AA.IS_DELETE = 0
          AND BB.IS_DELETE = 0
          AND CC.IS_DELETE = 0
          AND DD.IS_DELETE = 0
    </select>

</mapper>