<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ca.mfd.prc.rc.rcsml.mapper.IRcSmlPolicyRuleCacheMapper">

    <resultMap type="com.ca.mfd.prc.rc.rcsml.entity.RcSmlPolicyRuleCacheEntity" id="rcSmlPolicyRuleCacheMap">
        <result property="id" column="PRC_RC_SML_POLICY_RULE_CACHE_ID"/>
        <result property="prcRcSmlPolicyRuleId" column="PRC_RC_SML_POLICY_RULE_ID"/>
        <result property="prcRcSmlRoutePointId" column="PRC_RC_SML_ROUTE_POINT_ID"/>
        <result property="pointType" column="POINT_TYPE"/>
        <result property="paramValue" column="PARAM_VALUE"/>
        <result property="dynamicValue" column="DYNAMIC_VALUE"/>
        <result property="reqNo" column="REQ_NO"/>
    </resultMap>


</mapper>