<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ca.mfd.prc.rc.rcsml.mapper.IRcSmlRouteHoldLogMapper">

    <resultMap type="com.ca.mfd.prc.rc.rcsml.entity.RcSmlRouteHoldLogEntity" id="rcSmlRouteHoldLogMap">
        <result property="id" column="PRC_RC_SML_ROUTE_HOLD_LOG_ID"/>
        <result property="prcRcSmlRouteAreaId" column="PRC_RC_SML_ROUTE_AREA_ID"/>
        <result property="bufferCode" column="BUFFER_CODE"/>
        <result property="areaCode" column="AREA_CODE"/>
        <result property="areaName" column="AREA_NAME"/>
        <result property="holdReason" column="HOLD_REASON"/>
        <result property="holdDt" column="HOLD_DT"/>
        <result property="holdId" column="HOLD_ID"/>
        <result property="holdName" column="HOLD_NAME"/>
        <result property="cancelReason" column="CANCEL_REASON"/>
        <result property="cancelDt" column="CANCEL_DT"/>
        <result property="cancelId" column="CANCEL_ID"/>
        <result property="cancelName" column="CANCEL_NAME"/>
        <result property="sn" column="SN"/>
    </resultMap>


</mapper>