<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ca.mfd.prc.rc.rcsml.mapper.IRcSmlRouteCacheMapper">

    <resultMap type="com.ca.mfd.prc.rc.rcsml.entity.RcSmlRouteCacheEntity" id="rcSmlRouteCacheMap">
        <result property="id" column="PRC_RC_SML_ROUTE_CACHE_ID"/>
        <result property="prcRcSmlRouteAreaId" column="PRC_RC_SML_ROUTE_AREA_ID"/>
        <result property="sn" column="SN"/>
        <result property="prcRcSmlRouteLaneId" column="PRC_RC_SML_ROUTE_LANE_ID"/>
        <result property="laneCode" column="LANE_CODE"/>
        <result property="displayNo" column="DISPLAY_NO"/>
        <result property="beginDt" column="BEGIN_DT"/>
    </resultMap>


</mapper>