<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ca.mfd.prc.rc.rcsml.mapper.IRcSmlRuleMapper">

    <resultMap type="com.ca.mfd.prc.rc.rcsml.entity.RcSmlRuleEntity" id="rcSmlRuleMap">
        <result property="id" column="PRC_RC_SML_RULE_ID"/>
        <result property="ruleCode" column="RULE_CODE"/>
        <result property="ruleName" column="RULE_NAME"/>
        <result property="ruleType" column="RULE_TYPE"/>
        <result property="paramName" column="PARAM_NAME"/>
        <result property="paramRequired" column="PARAM_REQUIRED"/>
        <result property="paramType" column="PARAM_TYPE"/>
    </resultMap>


</mapper>