<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ca.mfd.prc.rc.rcsml.mapper.IRcSmlRouteAreaAttachMapper">

    <resultMap type="com.ca.mfd.prc.rc.rcsml.entity.RcSmlRouteAreaAttachEntity" id="rcSmlRouteAreaAttachMap">
        <result property="id" column="PRC_RC_SML_ROUTE_AREA_ATTACH_ID"/>
        <result property="prcRcSmlRouteAreaId" column="PRC_RC_SML_ROUTE_AREA_ID"/>
        <result property="bufferCode" column="BUFFER_CODE"/>
        <result property="areaCode" column="AREA_CODE"/>
        <result property="areaName" column="AREA_NAME"/>
        <result property="attachId" column="ATTACH_ID"/>
        <result property="attachCode" column="ATTACH_CODE"/>
        <result property="attachName" column="ATTACH_NAME"/>
        <result property="attachType" column="ATTACH_TYPE"/>
    </resultMap>


</mapper>