<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ca.mfd.prc.audit.mapper.IAuditQualityMatrikTcMapper">

    <resultMap type="com.ca.mfd.prc.audit.entity.AuditQualityMatrikTcEntity" id="auditQualityMatrikTcMap">
        <result property="id" column="PRC_AUDIT_QUALITY_MATRIK_TC_ID"/>
        <result property="prcAuditQualityMatrikId" column="PRC_AUDIT_QUALITY_MATRIK_ID"/>
        <result property="model" column="MODEL"/>
        <result property="modelName" column="MODEL_NAME"/>
    </resultMap>


</mapper>