<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ca.mfd.prc.audit.mapper.IPqsAuditEntryMapper">

    <resultMap type="com.ca.mfd.prc.audit.entity.PqsAuditEntryEntity" id="pqsAuditEntryMap">
        <result property="id" column="PRC_PQS_AUDIT_ENTRY_ID"/>
        <result property="category" column="CATEGORY"/>
        <result property="characteristic2" column="CHARACTERISTIC2"/>
        <result property="recordNo" column="RECORD_NO"/>
        <result property="defectCount" column="DEFECT_COUNT"/>
        <result property="totalScore" column="TOTAL_SCORE"/>
        <result property="projectCode" column="PROJECT_CODE"/>
        <result property="projectName" column="PROJECT_NAME"/>
        <result property="stageCode" column="STAGE_CODE"/>
        <result property="stageName" column="STAGE_NAME"/>
        <result property="modelCode" column="MODEL_CODE"/>
        <result property="modelName" column="MODEL_NAME"/>
        <result property="barcode" column="BARCODE"/>
        <result property="manufactureDt" column="MANUFACTURE_DT"/>
        <result property="remark" column="REMARK"/>
        <result property="status" column="STATUS"/>
    </resultMap>


</mapper>