<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ca.mfd.prc.pps.mapper.IPpsProductProcessAviMapper">

    <resultMap type="com.ca.mfd.prc.pps.entity.PpsProductProcessAviEntity" id="ppsProductProcessAviMap">
        <result property="id" column="PRC_PPS_PRODUCT_PROCESS_AVI_ID"/>
        <result property="workshopCode" column="WORKSHOP_CODE"/>
        <result property="workshopName" column="WORKSHOP_NAME"/>
        <result property="lineCode" column="LINE_CODE"/>
        <result property="lineName" column="LINE_NAME"/>
        <result property="aviCode" column="AVI_CODE"/>
        <result property="aviName" column="AVI_NAME"/>
        <result property="aviType" column="AVI_TYPE"/>
        <result property="isSequence" column="IS_SEQUENCE"/>
        <result property="displayNo" column="DISPLAY_NO"/>
        <result property="prcPpsProductProcessId" column="PRC_PPS_PRODUCT_PROCESS_ID"/>
    </resultMap>


</mapper>