<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ca.mfd.prc.pps.mapper.IPpsBindingTagMapper">

    <resultMap type="com.ca.mfd.prc.pps.entity.PpsBindingTagEntity" id="prcPpsBindingTagMap">
        <result property="id" column="PRC_PPS_BINDING_TAG_ID"/>
        <result property="tagCode" column="TAG_CODE"/>
        <result property="barcode" column="BARCODE"/>
        <result property="bindingPointType" column="BINDING_POINT_TYPE"/>
        <result property="bindingAviCode" column="BINDING_AVI_CODE"/>
    </resultMap>


</mapper>