<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ca.mfd.prc.pps.mapper.IPpsOrderMapper">

    <resultMap type="com.ca.mfd.prc.pps.entity.PpsOrderEntity" id="ppsOrderMap">
        <result property="id" column="PRC_PPS_ORDER_ID"/>
        <result property="orderNo" column="ORDER_NO"/>
        <result property="planNo" column="PLAN_NO"/>
        <result property="productCode" column="PRODUCT_CODE"/>
        <result property="model" column="MODEL"/>
        <result property="characteristic1" column="CHARACTERISTIC1"/>
        <result property="characteristic2" column="CHARACTERISTIC2"/>
        <result property="characteristic3" column="CHARACTERISTIC3"/>
        <result property="characteristic4" column="CHARACTERISTIC4"/>
        <result property="characteristic5" column="CHARACTERISTIC5"/>
        <result property="characteristic6" column="CHARACTERISTIC6"/>
        <result property="characteristic7" column="CHARACTERISTIC7"/>
        <result property="characteristic8" column="CHARACTERISTIC8"/>
        <result property="characteristic9" column="CHARACTERISTIC9"/>
        <result property="characteristic10" column="CHARACTERISTIC10"/>
        <result property="estimatedStartDt" column="ESTIMATED_START_DT"/>
        <result property="estimatedEndDt" column="ESTIMATED_END_DT"/>
        <result property="actualStartDt" column="ACTUAL_START_DT"/>
        <result property="actualEndDt" column="ACTUAL_END_DT"/>
        <result property="sn" column="SN"/>
        <result property="barcode" column="BARCODE"/>
        <result property="orderStatus" column="ORDER_STATUS"/>
        <result property="orderSource" column="ORDER_SOURCE"/>
        <result property="orderCategory" column="ORDER_CATEGORY"/>
        <result property="orderSign" column="ORDER_SIGN"/>
        <result property="isFreeze" column="IS_FREEZE"/>
        <result property="prcPpsProductProcessId" column="PRC_PPS_PRODUCT_PROCESS_ID"/>
        <result property="remark" column="REMARK"/>
        <result property="orderQuantity" column="ORDER_QUANTITY"/>
        <result property="completeQuantity" column="COMPLETE_QUANTITY"/>
        <result property="bomVersion" column="BOM_VERSION"/>
        <result property="characteristicVersion" column="CHARACTERISTIC_VERSION"/>
    </resultMap>

    <select id="spResetVehicleDel" resultType="java.lang.String" parameterType="java.util.Map"
            statementType="CALLABLE">
        call sp_resetVehicle_del( #{vsn,mode=IN,jdbcType=VARCHAR},
        #{vdatetime,mode=IN,jdbcType=DATE},
        #{vshopcode,mode=IN,jdbcType=VARCHAR}
        )
    </select>

</mapper>