<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ca.mfd.prc.pps.mapper.IPpsModuleProductStatusMapper">

    <resultMap type="com.ca.mfd.prc.pps.entity.PpsModuleProductStatusEntity" id="ppsModuleProductStatusMap">
        <result property="id" column="PRC_PPS_MODULE_PRODUCT_STATUS_ID"/>
        <result property="productBarcode" column="PRODUCT_BARCODE"/>
        <result property="productStatus" column="PRODUCT_STATUS"/>
    </resultMap>


</mapper>