<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ca.mfd.prc.pm.mapper.IPmMaterialSwitchoverConfigMapper">

    <resultMap type="com.ca.mfd.prc.pm.entity.PmMaterialSwitchoverConfigEntity" id="pmMaterialSwitchoverConfigMap">
        <result property="oldMaterialNo" column="OLD_MATERIAL_NO"/>
        <result property="oldMaterialName" column="OLD_MATERIAL_NAME"/>
        <result property="newMaterialNo" column="NEW_MATERIAL_NO"/>
        <result property="newMaterialName" column="NEW_MATERIAL_NAME"/>
    </resultMap>


</mapper>